<!DOCTYPE html>
<html>
  <body>
    <p>Hello,</p>
    <p>We recently received a request to reset your password. If you made this request, please click on the following link to reset your password:</p>
    <a href="{{ reset_link }}" style="display: inline-block; padding: 10px 15px; background-color: #1222d9; color: white; text-decoration: none; border-radius: 20px;">Reset Your Password</a>
    <p>Please note that for security reasons, this link is only valid for 24 hours.</p>
    <p>If you did not request a password reset, please ignore this email.</p>
    <p>Best regards,</p>
    <p>Your Videoflix Team!</p>
    <img src="cid:logo" alt="Videoflix" />
  </body>
</html>
